<div class="p-6 bg-gray-50 min-h-screen">
    <h2 class="text-2xl font-bold mb-4">Parking List</h2>
  
    <div class="bg-white p-6 rounded shadow-md">
      <table class="w-full border-collapse">
        <thead>
          <tr>
            <th class="border-b py-2 px-4 text-left text-gray-600">Owner Name</th>
            <th class="border-b py-2 px-4 text-left text-gray-600">Vehicle Type</th>
            <th class="border-b py-2 px-4 text-left text-gray-600">License Info</th>
            <th class="border-b py-2 px-4 text-left text-gray-600">Entry Time</th>
            <th class="border-b py-2 px-4 text-left text-gray-600">Exit Time</th>
            <th class="border-b py-2 px-4 text-left text-gray-600">Status</th>
            <th class="border-b py-2 px-4 text-left text-gray-600">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let park of parking" class="hover:bg-gray-100">
            <td class="border-b py-2 px-4">{{ park.ownerName }}</td>
            <td class="border-b py-2 px-4">{{ park.vehicleType }}</td>
            <td class="border-b py-2 px-4">{{ park.licenseNum }}</td>
            <td class="border-b py-2 px-4">{{ park.entryTime }}</td>
            <td class="border-b py-2 px-4">{{ park.exitTime }}</td>
            <td class="border-b py-2 px-4">{{ park.status }}</td>
            <td class="border-b py-2 px-4">
                <button (click)="editStatus(park)" class="bg-yellow-500 text-white p-2 rounded hover:bg-yellow-600">Edit Status</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  